* {
  box-sizing: border-box;
  color: seashell;
  text-align: center;
  font-family: Helvetica, sans-serif;
  opacity: 0.9;
}

body {
  background-color: black;
  margin: 0;
  opacity: 1;
  min-width: 345px;
  font-size: 22px;
}

/*Typograhy*/

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 22px;
  font-weight: 700;
}

h5 {
  font-size: 18px; 
  font-weight: 700;
}

/*Header*/

header {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  padding: 0 10px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 10;
}

#header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  max-height: 50px;
  width: auto;
}

#nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.nav-link {
  display: inline-block;
  text-decoration: underline;
}
/*Hero Section*/

#hero-container {
  background-image: url(images/img-mission-background.jpg);
  background-position:center;
  max-width: 1200px;
  aspect-ratio: 1200 / 700;
  margin: 69px auto 0;
}

#mission-banner {
  position: relative;
  transform: translate(0, -50%);
  left: 0;
  top: 50%;
  width: 100%;
  background-color: black;
  opacity: 1;
  padding: 10px 10px;
}

#mission-banner h2 {

  margin-top:0;
}

#mission-banner h4 {
  margin-bottom: 0;
}

/*Tea of the Month Section*/

#totm-container {
  max-width: 1000px;
  margin: 40px auto;
}

#totm-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.totm-flex-child {
  max-width: 300px;
}

#totm-flex-container img {
  width: 100%;
  max-height: 200px;
  margin-bottom: 10px;
}

#totm-flex-container h4 {
  margin: 0;
}

/*Locations Section*/

#locations {
  text-align: center;
  margin: 40px auto 10px;
  padding: 40px 20px;
  height: 500px;
  width: auto;
  /*max-height: 500px;
  aspect-ratio: 1200 / 500;*/
  background-image: url(images/img-locations-background.jpg);
  background-position: center;
  background-size: cover;
}

#locations-heading {
  padding: 0 0 15px;
}

#locations-flex-container {
  display: flex;
  flex-wrap: no-wrap;
  gap: 30px;
  justify-content: center;
  opacity: 1;
}

.locations-flex-child {
  height: 300px;
  background-color: #000;
  opacity: 1;
  padding: 10px;
  flex: 1 1 300px;
}

.locations-flex-child h4 {
  font-weight: 500;
}

.locations-list {
  padding: 0;
  list-style-type: none;
}



.locations-list-item {
  margin-top: 30px;
}

/*Contact Section*/

#contact {
  height: 200px;
}

/*Footer*/

#footer {
  padding: 0 20px;
}

#footer h5{
  text-align: left;
}

@media only screen and (max-width: 800px) {
   body {
    font-size: 16px;
   }

  /*Typography*/

  h2 {
    font-size: 22px;
    font-weight: 700;
  }
  
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  h4 {
    font-size: 16px;
    font-weight: 700;
  }
  
  h5 {
    font-size: 14px; 
    font-weight: 700;
  }

  /*Header*/

  header {
    height: auto;
    padding-top: 16px;
  }

  #header-container {
    flex-direction: column;
  }

  /*Hero Section*/

  #hero-container {
    margin: 121px auto 0;
  }

  /*Locations Section*/
  #locations {
    height: auto;
  }

  #locations-flex-container {
    flex-direction: column;

  }

  .locations-flex-child {
    height: auto;
    min-width: 300px;
    flex: 1 1 100px;
  }

  /*Footer Section*/
  
  #footer h5{
    text-align: center;
  }
}